.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 1em;
  border-radius: 5px;
  border: none;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 3px 3px lightgray;
}

.output {
  width: 90%;
  margin: 1em;
}

.card {
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  box-shadow: 0 3px 3px lightgray;
}

.Gram {
  background-color: #D95D39;
}

.Kilogram {
  background-color: #BADA55;
}

.Ounce {
  background-color: #007EA7;
}